{% extends 'mypf/base.html' %}

{% block content %}

    <!--Header-->
	<header class="masthead text-white text-center">
	  <div class="container">
		<img class="img-fluid mb-5 d-block mx-auto" src="static/mypf/img/profilePic.png" alt="" height="256" width="256">
		<h1 style="opacity: 1; transform: none;">
		  I'm
		  <span class="text-warning">HARSHIT SOLANKI</span>
		</h1>
		<h3>Fullstack Web Developer</h3>
		<hr>
		<div style="max-height: 20vh; overflow: hidden;">
		  <h4 style="transform: none;" class="lead">An aspiring and enthusiastic web developer and problem solver with positive mindset</h4>
		  <h4 style="transform: none;" class="lead">who is always ready for new challenges & work towards it.</h4>
		</div>
	  </div>
	</header>
<!----------------------------------------------------------------------------------------------------->

	<!--ABOUT ME-->
	<section class="text-white mb-0 margin" id="about">
		<div class="container">
		  <h2 class="text-center text-uppercase text-white text-warning">About Me</h2>
		  <hr class="star-light mb-5">
		  <div class="row">
            <div class="col-md-8 offset-md-2 shadow p-3">
             <ul>
			  <li>
				<div class="lead">
				  <p>Heyy! I'm Harshit Solanki, an enthusiastic & passionate web developer. I'm currently persuaing B.E. 
					degree in Computer Engineering at LDCE, Ahmedabad.</p>
				</div>  
			  </li> 
			  <li>
				<div class="lead">
				  <p>I'm interested in development and designing. I love to develop and design simple, beautiful
					 and responsive user interfaces and websites.</p>
				</div>  
			  </li> 
			  <li>
				<div class="lead">
				  <p>I'm currently working on my skills. I have some experienced in competitive coding
					as I did some coding related problems.</p>
				</div>  
			  </li> 
			  <li>
				<div class="lead">
				  <p>I'm good team player. I've positive mindset and I'm always eager to learn new
					stuffs especially tech related.</p>
				</div>  
			  </li> 
			  <li>
				<div class="lead">
				  <p>When I'm not on a computer, I enjoy playing PC games & singing songs, watching movies & web series
					and I also love to travel.</p>
				</div>  
			  </li> 
			 </ul>
			</div>
		  </div>
		  <div class="text-center mt-4">
			<a class="btn btn-outline-info" href="/static/mypf/files/MyResume.pdf" download>
			  <i class="fas fa-download mr-2"></i>
			  Download Resume 
			</a>
		  </div>
		</div>
	  </section>	
<!----------------------------------------------------------------------------------------------------->

	<!--SKILLS-->
	<section class="text-white mb-0 margin" id="about">
		<div class="container">
		  <h2 class="text-center text-uppercase text-white text-warning">Skills</h2>
		  <hr class="star-light mb-5">
		  <div class="row">

			<div class="col-md-8 offset-md-2 shadow p-3">
			 <div class="row">

			  <div class="col-md-2 text-center">
				<img src="static/mypf/img/c.png" alt="Cp" height="50px" width="50px"/>  
				<p class="text-center">C</p>
			  </div>
			  <div class="col-md-2 text-center">
				<img src="static/mypf/img/cpp.png" alt="CPP" height="50px" width="50px"/>  
				<p class="text-center">CPP</p>
			  </div>
			  <div class="col-md-2 text-center">
				<img src="static/mypf/img/java.png" alt="Java" height="50px" width="50px"/>
				<p class="text-center">Core Java</p>  
			  </div>
			  <div class="col-md-2 text-center">
				<img src="static/mypf/img/python.png" alt="Python" height="50px" width="50px"/>
				<p class="text-center">Python</p>  
			  </div>
			  <div class="col-md-2 text-center">
				<img src="static/mypf/img/django.svg" alt="Django" height="50px" width="50px"/>
				<p class="text-center">Django</p>  
			  </div>
			  <div class="col-md-2 text-center">
				<img src="static/mypf/img/mysql.svg" alt="MySQL" height="50px" width="50px"/>  
				<p class="text-center">MySQL</p>
			  </div>
			  <div class="col-md-2 text-center mt-5">
				<img src="static/mypf/img/html.png" alt="HTML" height="50px" width="50px"/>  
				<p class="text-center">HTML5</p>
			  </div>
			  <div class="col-md-2 text-center mt-5">
				<img src="static/mypf/img/css.png" alt="CSS" height="50px" width="50px"/>
				<p class="text-center">CSS</p>  
			  </div>
			  <div class="col-md-2 text-center mt-5">
				<img src="static/mypf/img/bootstrap.png" alt="Bootstrap" height="50px" width="50px"/> 
				<p class="text-center">Bootstrap</p> 
			  </div>
			  <div class="col-md-2 text-center mt-5">
				<img src="static/mypf/img/js.png" alt="JavaScript" height="50px" width="50px"/> 
				<p class="text-center">JavaScript</p> 
			  </div>
			  <div class="col-md-2 text-center mt-5">
				<img src="static/mypf/img/react.svg" alt="ReactJS" height="50px" width="50px"/> 
				<p class="text-center">ReactJS</p> 
			  </div>
			  <div class="col-md-2 text-center mt-5">
				<img src="static/mypf/img/git.svg" alt="Bootstrap" height="50px" width="50px"/> 
				<p class="text-center">Git</p> 
			  </div>

			 </div>	
			</div>

		  </div>
		</div>
	  </section>
<!----------------------------------------------------------------------------------------------------->

	<!--PROJECTS-->
	<section class="portfolio margin" id="portfolio">
        <div class="container">
            <h2 class="text-center text-uppercase text-white mb-0 text-warning">Projects</h2>
            <hr class="star-light mb-5 text-white">
			<div class="row">
			  <div class="col-sm-6">
				<div class="card bg-dark text-white shadow p-2">
				  <div class="card-body">
					<h5 class="card-title text-warning">File Sharing System</h5>
					<hr>
					<p class="card-text better">I have made this File sharing site where one can share various file formates like image file, audio file, video file
					   and other such files. You can also see functionalities like log-in, log-out, setting up your profile and you can also download exsisting file.
					   It's made through Python-Django Framework.</p>
					<a href="https://github.com/Rushabh1221/ShoppingSite-Webapp" class="btn btn-outline-info">Github Link</a>
				  </div>
				</div>
			  </div>
			  <div class="col-sm-6">
				<div class="card bg-dark text-white shadow p-2">
				  <div class="card-body">
					<h5 class="card-title text-warning">ShoppingSite-Webapp</h5>
					<hr>
					<p class="card-text better">I have made this ShoppingSite where we can shop various stuffs like clothes, electronics, 
					   shoes, watches and so on. All functionalities are embed in this webapp such as all other shopping 
					   site has. Here you are having only one payment option which is paypal. It's made through Python-Django Framework.</p>
					<a href="https://github.com/Rushabh1221/Mini-Blog" class="btn btn-outline-info">Github Link</a>
				  </div>
				</div>
			  </div>
			</div>
			<div class="margin"></div>
			<div class="row">
			  <div class="col-sm-6">
				<div class="card bg-dark text-white shadow p-2">
				  <div class="card-body">
					<h5 class="card-title text-warning">Weather App</h5>
					<hr>
					<p class="card-text better">With this app user can just type the name of the country and the
					wather of that country will be shown and on that the background of this app will change based according to the weather. It's made through ReactJS Framework.</p>
					<a href="https://github.com/Rushabh1221/CRUDapp-model" class="btn btn-outline-info">Github Link</a>
				  </div>
				</div>
			  </div>
			  <div class="col-sm-6">
				<div class="card bg-dark text-white shadow p-2">
				  <div class="card-body">
					<h5 class="card-title text-warning">Quiz App</h5>
					<hr>
					<p class="card-text better">This is basic Quiz app. Through this app one can test their knowledge and also one can organize quiz easily.
					You can also check your score after the quiz ends. It's made through ReactJS framework.</p>
					<a href="https://github.com/Rushabh1221/minified-WeatherApp" class="btn btn-outline-info">Github Link</a>
				  </div>
				</div>
			  </div>
			</div>
		</div>
	</section>

{% endblock %}